.room {
  position: fixed;
  inset: 0;
  overflow: hidden;
  perspective: 2000px;
  background: radial-gradient(circle at center, #acffd9, #e6f7ff);
  z-index: -10;
}

/* Walls */

.back-wall {
  position: absolute;

  width: 120vw;
  height: 120vh;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.01)
  );

  transform: translateZ(-500px);

  filter: blur(2px);
}

.left-wall {
  position: absolute;

  width: 100vh;
  height: 120vh;

  left: -30vw;

  background: linear-gradient(to right, rgba(255, 255, 255, 0.03), transparent);

  transform: rotateY(70deg) translateZ(-300px);
}

.right-wall {
  position: absolute;

  width: 100vh;
  height: 120vh;

  right: -30vw;

  background: linear-gradient(to left, rgba(255, 255, 255, 0.03), transparent);

  transform: rotateY(-70deg) translateZ(-300px);
}

.floating-card {
  position: absolute;

  width: 220px;
  height: 140px;

  border-radius: 24px;

  background: rgba(255, 255, 255, 0.06);

  backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);

  animation: drift 8s ease-in-out infinite;
}

.one {
  top: 15%;
  left: 10%;

  transform: translateZ(200px) rotateY(12deg);
}

.two {
  top: 45%;
  right: 12%;

  transform: translateZ(100px) rotateY(-15deg);
}

.three {
  bottom: 10%;
  left: 40%;

  transform: translateZ(300px);
}
